

    h1{font-size: 60px;
    text-align: center;
    color: black;}

    body{background-image: url("C:\Users\HP\Documents\GitHub\1_clase_html\imagenes\fond.jpg");
    background-repeat: no-repeat;
    }